{% extends 'layout2.html' %}

{% block title %} Ranking {% endblock %}


{% block content %}
{% if session['name'] %}
<p class="font-weight-bold" style="margin:auto; display:block; text-align:center;font-size:200%;">อันดับการวิ่ง</p>
<p></p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">อันดับ</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">ระยะทาง</th>
        <th scope="col">เพซเฉลี่ย</th>
      </tr>
    </thead>
    <tbody>
    {% for data in row %}
      <tr>
        <th scope="row">{{ data.num }}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.distance }}</td>
        <td>{{ data.avg_pace }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
<!-- <h>Login please !! </h> -->
<p class="font-weight-bold" style="margin:auto; display:block; text-align:center;font-size:200%;">อันดับการวิ่ง</p>
<p></p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">อันดับ</th>
        <th scope="col">ชื่อ</th>
        <th scope="col">ระยะทาง</th>
        <th scope="col">เพซเฉลี่ย</th>
      </tr>
    </thead>
    <tbody>
    {% for data in row %}
      <tr>
        <th scope="row">{{ data.num }}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.distance }}</td>
        <td>{{ data.avg_pace }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>



{% endif %}


{% endblock %}
